<h1>Burgers!</h1>

<h2>Available Burgers</h2>

<ul>
    {{#each burger}}
        {{#unless devoured}}
            {{ burger_name }}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
    {{#each burger}}
        {{#if devoured}}
            {{ burger_name }}
        {{/if}}
    {{/each}}
</ul>

<div class="form-group">
    <label for="br">Burger Name:</label>
    <input type="text" id="br" name="name"> 
</div>

<div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Available
</div>

<button type="submit">Order Burger</button>
</form>